@model PieShop.ViewModels.PieListViewModel

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width-device-width">
    <title>PieShop</title>
</head>
<body>
<div>
    <h1>@Model.CurrentCategory</h1>
    @foreach (var pie in Model.Pies)
    {
        <h2>@pie.Name</h2>
        <h3>@pie.Price.ToString("c")</h3>
        <h4>@pie.Category.CategoryName</h4>
    }
</div>
</body>
</html>